<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jbossconfigurator.preferences.JBossConfiguratorPreferencePage"
            id="jbossconfigurator.preferences.JBossConfiguratorPreferencePage"
            name="JBoss Configurator Preferences">
      </page>
      <page
            class="jbossconfigurator.preferences.JBossConfiguratorProfilesPage"
            id="jbossconfigurator.preferences.JBossConfiguratorProfilesPage"
            name="JBoss Configurator Profiles"
            category="jbossconfigurator.preferences.JBossConfiguratorPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jbossconfigurator.preferences.PreferenceInitializer">
      </initializer>
      <initializer
            class="jbossconfigurator.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
